
@font-face {
    font-family: TI99Basic;
    src: url('TI99Basic.ttf');
}

body { font-family: TI99Basic; font-size: 32px; padding: 30px 30px 30px 30px; margin: 0px 0px 0px 0px; }

.button { width: 200px; height: 20px; display: inline; padding: 5px; margin: 5px; cursor: pointer; cursor: hand; } 

textarea { font-family: TI99Basic; 
	   font-size: 32px; 
	   background: #42ebf5; 
	   width: 90%;
           height: 400px;
           border: 0px;
           padding: 20px 20px 20px 20px;
           margin: 0px 0px 0px 0px;
}

#character {
           position:fixed;
           right:0px;
	   top:0px;
           font-family: TI99Basic; 
	   font-size: 32px; 
	   background: #eeeeee;
	   width: 256px;
           height: 256px;
           border: 2px solid #d4524d;
           padding: 5px 5px 5px 5px;
           margin: 0px;
}

pre { font-family: courier;
      font-size: 16px; 
      width: 90%;
      border: 0px;
      padding: 0px;
      margin: 0px;
      display: none;
}

.hex { 
}

#DownloadDummy { display: none; }

#abouttext { 
   width: 90%;
   border: 3px solid #000000;
   padding: 50px;
   margin: 0px;
   align: center;
   display: none;
   background: #21c842;
}

a {
   color: #d4524d;
}








